################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VeniceOrders
/tests/VeniceOrders.Tests/bin/Debug/net9.0
